body {
    display: flex;
    flex-direction: column;
    height: 75vh;
    justify-content: center;
    align-items: center;
}

#clock {
    font-size: 1.5rem;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}